doctype html
html
  head
    title Virus Academy
    block scripts
    block style 
  body
    nav#navbarlol
                ul 
                div#logo  
                    img(src="/static/img/logo.png")
                        |
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/contact") Contact us]
                li #[a(href="/") Services]
                li #[a(href="/") Class Info]

    block content
    footer#footersec 
      | Copyright © 2021 VirusAcademy.com   
      